<a href="https://colab.research.google.com/github/Shreoshi19/Hubble-s-Telescope/blob/master/Huble%2BTelescope.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [0]:
hubble_df = pd.read_csv('https://raw.githubusercontent.com/shantnu/Intro-to-Pandas/master/hubble_data.csv')

In [3]:
hubble_df.head()

   distance  recession_velocity
0     0.032                 170
1     0.034                 290
2     0.214                -130
3     0.263                 -70
4     0.275                -185